@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<body>


    <h2>Let AJAX change this text</h2>
    <button type="button" onclick="loadDoc()">Change Content</button>
    <button type="button" onclick="loadDoc2()">Change Content with input</button>
    <div id="demo">
    </div>

    <script>
        function loadDoc() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("demo").innerHTML = this.responseText;
            }
            xhttp.open("GET", "/Demo/returnStr", true);
            xhttp.send();
        }

        function loadDoc2() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("demo").innerHTML = this.responseText;
            }
            xhttp.open("POST", "/Demo/returnStrByInput");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("str1=Henry&int1=33");
        }
    </script>
</body>


</html>