@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model StockShow.Models.StockNoTable

@{
    Layout = "/Views/Shared/myHomeLayout.cshtml";
    ViewBag.Title = "[Stock Number Handle]";
}
<script>
    function AutoUpdateStockType() {
        //alert("Auto Get StockType by select StockTypeIndex !~");
        var dropdownList = document.getElementById('StockTypeIndex');
        var selecetedIndex = dropdownList.selectedIndex;
        var selectedOption = dropdownList.options[selecetedIndex];
        var x = document.getElementById("StockTypeIndex").textContent;
        document.getElementById("StockType").value = selectedOption.text;
    }
    
    var arrayOfArrays = @Html.Raw(Json.Serialize(ViewBag.StockNoList));

</script>

<!--  //// Form input div ////  -->
<div class="row">
    <div class="col-sm-6">
        <form asp-action="StockNoHandle">
            <!-- 上方的Action是執行HttpPost時候所指到的function -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col">
                    <label asp-for="StockNo" class="control-label"></label>
                    <input asp-for="StockNo" class="form-control form-control-lg"/>
                    <span asp-validation-for="StockNo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="StockName" class="control-label"></label>
                    <input asp-for="StockName" class="form-control form-control-lg" />
                    <span asp-validation-for="StockName" class="text-danger"></span>

                </div>
                <div class="col">
                    <label asp-for="StockNoName" class="control-label"></label>
                    <input asp-for="StockNoName" value="GG" class="form-control form-control-lg" readonly="@(true)" />
                    <span asp-validation-for="StockNoName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="StockTypeIndex" class="control-label"></label>
                    <select asp-for="StockTypeIndex" class="form-control" onchange="AutoUpdateStockType()" asp-items="ViewBag.StockTypeIndex"></select>
                </div>
                <div class="col">
                        <label asp-for="StockType" class="control-label"></label>
                        <input asp-for="StockType" class="form-control" readonly="@(true)" />
                        <span asp-validation-for="StockType" class="text-danger"></span>
                </div>
                
                <div class="d-flex align-items-center p-2 gap-3">
                    <div>
                        <label asp-for="Note1" class="control-label"></label>
                        <input asp-for="Note1" class="form-control  form-control-sm" />
                        <span asp-validation-for="Note1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note2" class="control-label"></label>
                        <input asp-for="Note2" class="form-control form-control-sm" />
                        <span asp-validation-for="Note2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note3" class="control-label"></label>
                        <input asp-for="Note3" class="form-control form-control-sm" />
                        <span asp-validation-for="Note3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note4" class="control-label"></label>
                        <input asp-for="Note4" class="form-control form-control-sm" />
                        <span asp-validation-for="Note4" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center p-2 gap-3">
                    <div class="form-group">
                        <label asp-for="Note5" class="control-label"></label>
                        <input asp-for="Note5" class="form-control form-control-sm" />
                        <span asp-validation-for="Note5" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note6" class="control-label"></label>
                        <input asp-for="Note6" class="form-control form-control-sm" />
                        <span asp-validation-for="Note6" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note7" class="control-label"></label>
                        <input asp-for="Note7" class="form-control form-control-sm" />
                        <span asp-validation-for="Note7" class="text-danger"></span>
                    </div>


                </div>

            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table id="StockNoTable2"> 


</table>

<script>
    
    function BuildTable(data, target) {

        var table = document.getElementById(target);
        table.style.border = "3px solid red";
        var columnNames = Object.keys(data[0]);

        // Create Rows
        for (let i = 0; i < data.length; i++) {// i is Row number
            let row = table.insertRow(i);
            for (let j = 0; j < columnNames.length; j++) {
                let cell = row.insertCell(j);// j is Column number
                cell.innerHTML = data[i][columnNames[j]];
            }
        }

        // Create Header
        var header = table.createTHead();
        var header_row = header.insertRow(0);
        for (let i = 0; i < columnNames.length; i++) {
            let header_cell = header_row.insertCell(i);
            header_cell.innerHTML = columnNames[i];
        }

        //var td_el = document.querySelectorAll('td');
        //for (var ii = 0; ii < td_el.length; ii++) {
        //    td_el[ii].style.border = "1px solid green";
        //}
    }

    
    console.log(arrayOfArrays);

    BuildTable(arrayOfArrays, "StockNoTable2");
    

</script>
