@{
    ViewData["Title"] = "Home";
    Layout = "myHomeLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome StockShow Home page</h1>
    @ViewContext.RouteData.Values["action"]
    @ViewContext.RouteData.Values["Controller"]

</div>
